<nav class="navbar row">
  <div class="nav-item mr-auto col-2" id="title"><%= link_to "Task Manager", projects_path({sort_by: :updated_at, direction: :desc}) %></div>
  <div class="dropdown mr-auto col-2">
    <div class="nav-item dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true">
      <%= link_to 'Sort Projects', '#' %>
    </div>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <span class="dropdown-item" href="#"><%= link_to 'Sort By Name', projects_path({sort_by: :name, direction: :asc}) %></span>
      <span class="dropdown-item" href="#"><%= link_to 'Sort By Last Modified', projects_path({sort_by: :updated_at, direction: :desc}) %></span>
      <span class="dropdown-item" href="#"><%= link_to 'Sort By Last Created', projects_path({sort_by: :created_at, direction: :desc}) %></span>
    </div>
  </div>
  <div class="nav-item mr-auto col-2"><%= link_to 'Create New Project', new_project_path %></div>
  <div class="nav-item mr-auto col-2"><%= link_to 'See Active Projects', '#' %></div>
  <div class="nav-item mr-auto col-2"><%= link_to 'See closed projects', '#' %></div>
  <% if user_signed_in? %>
    <div class="nav-item col-2">
      <div>Welcome, <%= current_user.name %></div>
      <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "nav-link" %>       
    </div>
  <% else %>
    <div class="nav-item col-2">
      <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
      <%= link_to "Register", new_user_registration_path, class: "nav-link" %>
    </div>
  <% end %>
</nav>

<br />

<div>
  <div id="indexintro">Here is a list of your active projects: </div>
  <br />
  <% @projects.each do |project| %>
    <div class="projectdiv">
      <div><%= project.name %></div>
    </div>
  <% end %>
</div>

<script>

</script>